

   /* ==== Common Fix starts here==== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif; */
}
body{
    font-family: 'Inter', sans-serif;
}

    img{
        width: 100%;
        height: 100%;
    }
    /* ==== Common Fix ends here==== */
    
    
    /* ===== First section starts here===== */

    .firstsection{
        height: 460px;
        /* border: 3px solid black; */
        display: flex;
        
    }

    .firstsection-leftdiv{
        padding: 20px;
        width: 50%;
        height: 100%;
       background: var(--gray-color);
    }
    .firstsection-rightdiv{
        width: 50%;
        height: 100%;
        background:var(--linear-gradient),url("./images/image1.jpg");
        background-size: cover;
        background-position: bottom left;
    }
    /* ===== First section ends here===== */
    
    span{
        color: var(--main-color);
    }
    .logotext{
        margin-bottom: 20px;
    }

    .heading{
        margin-bottom: 20px;
        /* font-family: 'Inter', sans-serif; */
    }

    .line{
        height: 16px;
        width: 224px;
        background-color: var(--main-color);
    }
    .firstsection-leftdiv p{
        margin-bottom: 25px;
    }

    .link-holder{
        /* border: 3px solid black; */
        color: var( --white-color);
        text-transform: uppercase;
        display: flex;
        justify-content: space-evenly;
       padding: 20px 0;
    }
    .link-holder h4{
        /* border: 3px solid black; */ 
    }

/* ===== First section ends here===== */


/* ===== Second section starts here===== */
.secondsection{
    /* height: 500px; */
    /* border: 3px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

    .secondsection-leftdiv{
        background-color: var(--gray-color);
        height: 400px;
        width: 310px;
        padding: 40px 25px;
        /* border: 3px solid black; */
    }

     .secondsection-leftdiv h4{
        margin-bottom: 25px;
        text-align: center;
    }

    .secondsection-leftdiv p{
    margin-bottom: 25px; 
    }
    

    .secondsection-rightdiv{
        height: 460px;
        width: 340px;
        /* border: 3px solid tomato; */
        margin-left: 20px;

    }
    /* ===== Second section ends here===== */

   /* ===== Third section starts here===== */

  
   .thirdsection{
     /* border: 3px solid tomato; */
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;

     align-items: center;
     padding: 50px 0;
   }
    

   .thirdsection-rightdiv{
    /* border: 3px solid black; */
    height: 460px;
    width: 340px;
    background-color: var(--main-color);
    padding: 40px 25px;
   }
   .thirdsection-leftdiv{
    background: url("images/image3.jpg");
    background-size: cover;
    /* border: 3px solid purple; */
    width: 340px;
    height: 460px;
      
   }

   .thirdsection-rightdiv p{
    margin-bottom: 25px;
   }

  /* ===== Third section ends here===== */
 
  
  /* ===== Footer section starts here===== */ 
  footer{
    /* border: 3px solid tomato; */
    /* height: 100px; */ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    background-color: var(--main-color);
    color: var(--white-color);
}

    .footericons-container{
        /* border: 3px solid black; */
        /* height: 50px; */
        /* width: 200px; */
        font-size: 22px;

    }

    .footericons-container i{
        margin: 0 5px;
    }
    a{
        color: var(--white-color);
        text-decoration: none;
    }
 /* ===== footer section ends here===== */



 /* ===== safety measures starts here===== */
 .firstsection,.secondsection,.thirdsection,footer{
     max-width: 1500px;
        margin: 0 auto;
 }
 /* ===== safety measures ends here===== */
